db_url: mysql://root:123456@192.168.123.205:3306/devme
secret: devme
site_url: https://devme-api.long2ice.io
debug: true
caddy:
  plugins:
    - github.com/caddy-dns/cloudflare
  acme: acme_dns cloudflare {env.CF_API_TOKEN}
  email: long2ice@gmail.com
  http_port: 80
  https_port: 443
  api_port: 2019
  network: devme # host or devme network name
docker:
  host: unix:///var/run/docker.sock
