db_url: mysql://root:123456@192.168.123.205:3306/devme
caddy:
  plugins:
    - github.com/caddy-dns/alidns
  acme: |
    acme_dns alidns {
      access_key_id access_key_id
      access_key_secret access_key_secret
    }
  email: example@long2ice.io
  http_port: 80
  https_port: 443
  api_port: 2019
  network: devme # host or devme network name
docker:
  host: unix:///var/run/docker.sock
